.App {
  height: 100%;
  width: 100%;
}

#signInButton{
  background-color: black;
  color: white;
}

#view{
  display: inline-block;
}

#provider{
  background-color: white;
}

#textfield{
  border-radius: 50px;
}
